<div class = "main">
    <div class="card">
        <div class="card-header">
            <h4>Add Project</h4>
        </div>
            <div [formGroup]="addProjectForm">
                <div class="card-body">
                    <div class="fb-profile">
                        <div *ngIf='cover_photo_file' class="toaddphotosdiv center" >
                        <img align="left" class="fb-image-lg" [src]="cover_photo" alt="Add a cover photo">
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-6">
                            <h3>
                                <mat-form-field>
                                    <mat-label> Name </mat-label>
                                    <input matInput formControlName="name" name="project-name" required>
                                </mat-form-field>
                            </h3>
                            <mat-form-field>
                                <mat-label>Overview Description </mat-label>
                                <textarea matInput formControlName="overview" name="project-overview" cols="1000" required></textarea>
                            </mat-form-field>
                        </div>
                        <div class = "col-6">
                            <mat-form-field>
                                <mat-label> Property Type </mat-label>
                                <mat-select formControlName="propertyType" name="project-propertyType" required>
                                    <mat-option value="Condominium">Condominium</mat-option>
                                    <mat-option value="Apartment">Apartment</mat-option>
                                    <mat-option value="House and Lot">House and Lot</mat-option>
                                    <mat-option value="Lot">Lot</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>

                            <mat-form-field>
                                <mat-label> Street </mat-label>
                                <input matInput formControlName="addressStreet" name="project-addressStreet" required>
                            </mat-form-field>
                            <br>
                
                            <mat-form-field>
                                <mat-label> Town/ Barangay </mat-label>
                                <input matInput formControlName="addressTown" name="project-addressTown" required>
                            </mat-form-field>
                            <br>
                
                            <mat-form-field>
                                <mat-label> City </mat-label>
                                <input matInput formControlName="addressCity" name="project-addressCity" required>
                            </mat-form-field>
                            <br>
                
                            <mat-form-field>
                                <mat-label> Region </mat-label>
                                <input matInput formControlName="addressRegion" name="project-addressRegion" required>
                            </mat-form-field>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">

                            <mat-form-field>
                                <mat-label> Owner Client Name</mat-label>
                                <input matInput formControlName="ownerClientName" name="project-ownerClientName"
                                    value={{selectedClient}} (click)="pickClient()" readonly>
                            </mat-form-field>
                            <br>
                
                            <mat-form-field>
                                <mat-label> Sale Type </mat-label>
                                <mat-select formControlName="saleType" name="project-saleType" required>
                                    <mat-option value="For Sale">For Sale</mat-option>
                                    <mat-option value="For Lease">For Lease</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>

                            <mat-form-field>
                                <mat-label> Cost </mat-label>
                                <input matInput formControlName="cost" name="project-cost" required>
                            </mat-form-field>
                            <br>
                
                            <mat-form-field>
                                <mat-label> Status </mat-label>
                                <mat-select formControlName="status" name="project-status" required>
                                    <mat-option value="Available">Available</mat-option>
                                    <mat-option value="Rented">Rented</mat-option>
                                    <mat-option value="Leased">Leased</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                
                            <mat-form-field>
                                <mat-label>Agent Name</mat-label>
                                <input matInput formControlName="agentName" name="project-agentName"
                                 value={{selectedAgent}} (click)="pickAgent()" readonly>
                            </mat-form-field>
                            <br>
                        </div>
                        <div class="col-3">
                            <label>
                                Attach a photo<br>
                                <input hidden type="file"  (change)="getFile($event)" id='inputfile' accept=".png,.jpg" multiple>
                                <div style="vertical-align: bottom;">
                                    <button class="upload btn btn-primary" id='uploadbtn' (click)='inputFileClick()'>Upload</button>
                                    &nbsp;
                                    <span id='qtyinput'>{{qtyinput}}</span>
                                </div>
                            </label>
                            <br>
                            <label>
                                Attach a cover photo<br>
                                <button class="btn btn-primary" id='addbutton' (click)='addphotoview()'>Upload</button>
                                <br><input hidden id='inputfileview' type="file" accept='image/*' (change)='addcoverphoto($event)' multiple>
                            </label>
                            <br>
                            <div *ngFor='let ph of arrayphoto'>
                                <img [src]='ph' class="photoURL">
                                <br>
                                <br>
                            </div>
                            <br>
                        </div>
                    </div>
    
            </div>
            <div class = "card-footer" >
                <div >
                    <button mat-button (click)="submitAddProjectForm()">Add</button>
                    <button mat-button (click)="goBack()" >Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

    
