.fb-profile img.fb-image-lg{
    z-index: 0;
    margin-bottom: 10px;
    max-height: 500px;
}

.fb-profile img.fb-image-md{
  z-index: 0;
  margin-bottom: 10px;
  max-height: 500px;
}

.fb-profile-text>h1{
    font-weight: 700;
    font-size:40px;
}



  .photoURL{
    max-width: 100%;
    max-height: 200px;
  }
