.photoURL{
    max-height: 200px;
    max-width: 200px;
  }
.divpic{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}
.imgchkbox{
    right: 0;
    position: absolute;
}
.delbutton{
    float: right;
    font-size: xx-small;
}
.imgchkbox{
    width: 20px;
    height: 20px;
    display: block !important;
}
.blurtodelete{
    opacity: 0.5;
}
.coverphoto_button{
    right: 0;
    width: 100%;
    text-align: right;
}
#addbutton{
    float: right;
    font-size: xx-small;
}
.toaddphotosdiv {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}
.remove_button{
    font-size: xx-small;
    position: absolute;
    right: 0;
}
.fb-profile img.fb-image-lg{
  z-index: 0;
  margin-bottom: 10px;
  max-height: 400px;
  max-width: 900px;
}

.fb-profile img.fb-image-md{
z-index: 0;
margin-bottom: 10px;
max-height: 900px;
max-width: 400px;
}

.fb-profile-text>h1{
    font-weight: 700;
    font-size:40px;
}
