<h2 mat-dialog-title>{{data.clientName}}'s Trasaction</h2>
<div mat-dialog-content>
  <div class = "row">
    <div class = "col-sm-12 col-md-5">
            <h5> Status: </h5>
            <p>{{data.status}}</p>
            <br>
            <h5> Project: </h5>
            <p>{{data.projectName}}</p>
            <br>
            <h5> Project Cost: </h5>
            <p>{{data.projectCost}}</p>
            <br>
            <h5> Project Sale Type: </h5>
            <p>{{data.projectSaleType}}</p>
            <br>
            <h5> Client Name: </h5>
            <p>{{data.clientName}}</p>
            <br>
            <h5> Agent Name: </h5>
            <p>{{data.agentName}}</p>
            <br>
            <h5> Manager Name: </h5>
            <p>{{data.managerName}}</p>
    </div>
    <div class = "col-sm-12 col-md-2">

    </div>
    <div class = "col-sm-12 col-md-5">
            <h5> Date Start: </h5>
            <p>{{data.dateStart.toDate() | date: 'MMM-dd-yy hh:mm'}}</p>
            <br>
            <h5> Document Status: </h5>
            <p>{{data.doc_status}}</p>
            <br>
            <div *ngIf="stage === 4 || stage === 5 ">
                <div *ngIf="data.projectSaleType === 'For Sale'">
                    <h5> Commission Rate: </h5>
                    <p>{{data.commissionRate}}</p>
                    <br>
                    <h5> Commission Total: </h5>
                    <p>{{data.commissionTotal}}</p>
                    <br>
                    <h5> Sale Total: </h5>
                    <p>{{data.saleTotal}}</p>
                    <br>
                </div>
                <div *ngIf="data.projectSaleType === 'For Lease'">
                    <h5> Lease Start: </h5>
                    <p>{{data.leaseMonth}} {{data.leaseYearStart}}</p>
                    <br>
                    <h5> Lease End: </h5>
                    <p>{{data.leaseMonth}} {{data.leaseYearEnd}}</p>
                    <br>
                    <h5> Lease Total: </h5>
                    <p>{{data.leaseTotal}}</p>
                    <br>
                    <h5> Commission Total: </h5>
                    <p>{{data.commissionTotal}}</p>
                    <br>
                    <h5> Sale Total: </h5>
                    <p>{{data.saleTotal}}</p>
                    <br>
                </div>
                <div *ngIf="data.rating">
                    <h5> Rating: </h5>
                    <p>{{data.rating}} </p>
                    <br>
                    <h5> FeedBack: </h5>
                    <p>{{data.feedback}}</p>
                </div>

            </div>
    </div>
  </div>





</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
    <div *ngIf="buttonConfig == 'Active'">
        <div *ngIf="stage == 3">
            <div *ngIf="authService.isManager()">
                <button mat-button (click)="downloadMulitple()" >Download Documents</button>
                <div *ngIf="data.projectSaleType == 'For Sale'">
                    <button mat-button (click)="approveAndSetRate()">Approve and set commission</button>
                </div>
                <div *ngIf="data.projectSaleType == 'For Lease'">
                    <button mat-button (click)="approveAndLease()">Approve and set Years to Lease</button>
                </div>
                <button mat-button (click)="disapprove()" >Disapprove</button>
            </div>
        </div>
        <div *ngIf="stage == 4">
            <div *ngIf="!authService.isManager()">
                <div *ngIf="data.projectSaleType === 'For Sale'">
                    <button mat-button (click)="finalize()">Finalize Sale</button>
                </div>
                <div *ngIf="data.projectSaleType === 'For Lease'">
                    <button mat-button (click)="finalizeLease()">Finalize Lease</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="buttonConfig == 'Manager Disapprove'">
        <div *ngIf="authService.isManager()">
            <button mat-button (click)="reactivate()">Reactivate</button>
        </div>
        <button mat-button color = "warn" (click)="delete()">Delete</button>
    </div>
    <div *ngIf="buttonConfig == 'Completed'">
        <button mat-button (click)="delete()">Delete</button>
    </div>
    <div *ngIf="buttonConfig == 'Cancelled'">
        <button mat-button (click)="delete()">Delete</button>
    </div>
    <div *ngIf="buttonConfig == 'Leased'">
        <button mat-button (click)="endLeaase()">End Lease</button>
    </div>
</div>
