<div class= "main">
    <div class="card">
        <div class="card-header">
            <h3>Project Management</h3>
             <div *ngIf="authService.isManager()" style="float:right">  
                 <button mat-raised-button color="primary" (click) = "openAddProject()">Add New Project</button>
             </div>
        </div>
        <div class="card-body">
             <div class="search">
                 <input class="form-control" type="text" name="search" [(ngModel)]="projectSearchText" autocomplete="off" placeholder="&#61442;  Search">
             </div>
             <div class="table-responsive">
                 <table class="table user-list">
                     <tbody>
                         <tr *ngFor="let project of projects | paginate:{itemsPerPage: 5, currentPage:1} | filter:projectSearchText " (click)="openViewProject(project)">
                             <td>
                                 <mat-grid-list cols="5" rowHeight="70px">
                                     <mat-grid-tile
                                         [colspan]="1"
                                         [rowspan]="2"
                                         [style.background]="">
                                         <img src="{{project.coverPhotoUrl}}" srcset="/assets/img/temp-icon.jpg">
                                     </mat-grid-tile>
                                     <mat-grid-tile
                                         [colspan]="2"
                                         [rowspan]="1"
                                         [style.background]="">
                                         {{project.name}}
                                     </mat-grid-tile>
                                     <mat-grid-tile
                                         [colspan]="2"
                                         [rowspan]="1"
                                         [style.background]="">
                                         {{project.saleType}} {{project.cost}} 
                                     </mat-grid-tile>
                                     <mat-grid-tile
                                         [colspan]="2"
                                         [rowspan]="1"
                                         [style.background]="">
                                         {{project.addressStreet}} {{project.addressTown}} {{project.addressCity}} {{project.addressRegion}}
                                     </mat-grid-tile>
                                     <mat-grid-tile
                                         [colspan]="2"
                                         [rowspan]="1"
                                         [style.background]="">
                                         {{project.propertyType}}
                                     </mat-grid-tile>
                                   </mat-grid-list>	
                                   
                             </td>
                         </tr>
                     </tbody>
                 </table>
                     <div id="pagination">
                         <pagination-controls (pageChange)="p=$event"></pagination-controls>
                     </div>  
             </div>
         </div>
     </div>
     
     
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb">
          <img class="card-img-top" src="http://www.placehold.it/286x180" alt="Card image cap">
          <div class="card-body mb">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-primary mb">button</button>
          </div>
        </div>
    </div>
</div>