<div class= "main">
    <div class="card">
        <div class="card-header">
            <h3>Project Management</h3>
             <div *ngIf="authService.isManager()" style="float:right">  
                 <button mat-raised-button color="primary" (click) = "openAddProject()">Add New Project</button>
             </div>
        </div>
        <div class="card-body">
             <div class="search">
                 <input class="form-control" type="text" name="search" [(ngModel)]="projectSearchText" autocomplete="off" placeholder="&#61442;  Search">
             </div>
            <div class = "row">
                <div class="col-md-3" *ngFor="let project of projects | paginate:{itemsPerPage: 4, currentPage:p} | filter:projectSearchText " (click)="openViewProject(project)" >
                    <div class="card mb">
                        <img class = "card-img-top" src="{{project.card_photo.photoURL}}" >
                        <div class="card-body mb">
                        <h4 class="card-title">{{project.name}}</h4>
                        <p class="card-text"> {{project.addressTown}} {{project.addressRegion}} </p> 
                        <p>{{project.propertyType}}</p> 
                        <p>{{project.saleType}}: {{project.cost}} </p> 
                        </div>
                    </div>
                </div>
            </div>
            
         </div>
         <div class = "card-footer">
            <div id="pagination">
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
            </div>
         </div>
     </div>
     
     
</div>

