
<button  fxFlexAlign="center" mat-icon-button class="smallButton" color="accent" (click) = "openAddBroker()" style = "float:right;"><i class="material-icons"> add </i></button>

<div class="main-box clearfix">
<div class="search">
      <input class="form-control" type="text" name="search" [(ngModel)]="brokerSearchText" autocomplete="off" placeholder="&#61442;  Search for Broker's Name">
    </div>
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>Broker's Name</span></th>
							<th><span>Contact Number</span></th>
							<th><span>Email</span></th>
						</tr>
					</thead>
					<tbody>
						<tr  *ngFor="let broker of brokers | paginate:{itemsPerPage: 5, currentPage:p} | filter:brokerSearchText " (click)="openViewBroker(broker)">
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
								<a  class="user-link">{{broker.firstName}} {{broker.lastName}}</a>
							</td>
							<td>
								<a class ="contact-number">{{broker.contactNumber}}</a>
							</td>
							<td>
								<a >{{broker.email}}</a>
							</td>
						</tr>
					</tbody>
				</table>
					<div id="pagination">
						<pagination-controls (pageChange)="p=$event"></pagination-controls>
					</div>  
			</div>
		</div>