<div class="main-box clearfix">
<div class="search">
      <input class="form-control" type="text" name="search" [(ngModel)]="clientSearchText" autocomplete="off" placeholder="&#61442;  Search for Client's Name">
    </div>
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>Client</span></th>
							<th><span>Contact Number</span></th>
							<th><span>Email</span></th>
						</tr>
					</thead>
					<tbody>
						<tr  *ngFor="let client of clients | paginate:{itemsPerPage: 5, currentPage:p} | filter:clientSearchText " (click)="openViewClient(client)">
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
								<a  class="user-link">{{client.fullName}}</a>
							</td>
							<td>
								<a class ="contact-number">{{client.contactNumber}}</a>
							</td>
							<td>
								<a >{{client.email}}</a>
							</td>
						</tr>
					</tbody>
				</table>
					<div id="pagination">
						<pagination-controls (pageChange)="p=$event"></pagination-controls>
					</div>  
			</div>
		</div>