<div class = "main">
    <div class="card">
        <div class="card-header">
             <h3>Customer Inquiries</h3>
        </div>
        <div class="card-body">
            <div class="search">
                  <input class="form-control" type="text" name="search"  autocomplete="off" placeholder="&#61442;  Search ">
            </div>
    
            <table class="table table-inbox table-hover">
                <thead>
                    <th>Date/Time Sent</th>
                    <th>Project Name</th>
                    <th>Client Name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let inquiry of inquiries" (click)="openViewInquiry(inquiry)" >
                        <td class="view-message  text-left">{{inquiry.dateSent.toDate() | date: 'MMM-dd-yy hh:mm' }}</td>
                        <td >{{inquiry.projectName}}</td>
                        <td >{{inquiry.clientName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>        
    
    
</div>