<!-- Sidenav -->
  <mat-sidenav mode="over" opened="false" #sidenav class="sidenav">

  <button style = "float: right"type="button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="misc">keyboard_arrow_left</mat-icon>
  </button>

  <img [src]="angularImage" (click)="sidenav.toggle()" >

  <div class="menu-link">

    <button mat-button routerLink="/project" (click)="sidenav.close()">
      <mat-icon class="misc">house</mat-icon>
      <span>Project Management</span>
    </button>

    <button mat-button routerLink="/broker" (click)="sidenav.close()">
      <mat-icon class="misc">account_circle</mat-icon>
      <span>Broker Management</span>
    </button>

    <button mat-button routerLink="/client" (click)="sidenav.close()">
      <mat-icon class="misc">account_box</mat-icon>
      <span>Client Management</span>
    </button>

    <button mat-button routerLink="/inquiries" (click)="sidenav.close()">
      <mat-icon class="misc">mail</mat-icon>
      <span>Customer Inquiries</span>
    </button>
      
    <button mat-button routerLink="/saleTransaction" (click)="sidenav.close()">
      <mat-icon class="misc">receipt</mat-icon>
      <span>Sales Transaction</span>
    </button>

    <button mat-button routerLink="/projectArchive" (click)="sidenav.close()">
      <mat-icon class="misc">archive</mat-icon> 
      <span>Archived Projects</span>
    </button>

    <div *ngIf="authService.isManager();">
    <button mat-button routerLink="/audit" (click)="sidenav.close()">
      <mat-icon class="misc">security</mat-icon>
      <span>Audit</span>
    </button>
    </div>

    <hr>
    
    <button mat-button routerLink="/profile"(click)="sidenav.close()">
      <mat-icon class="logout">face</mat-icon>
      <span>Profile</span>
    </button>

    <div *ngIf="!authService.isAuthenticated(); else logout">
      <button mat-button routerLink="/auth" (click)="sidenav.close()">
        <mat-icon class="login">lock_open</mat-icon>
        <span>Auth</span>
      </button>
    </div>

    <ng-template #logout>
      <button mat-button (click)="onLogout()" (click)="sidenav.close()">
        <mat-icon class="logout">lock_outline</mat-icon>
        <span>Logout</span>
      </button>
    </ng-template>
  </div>

</mat-sidenav>

<!-- Header -->
<mat-toolbar color="primary">

  <!-- Sidenav activate -->
  <div class="sidenav-content" *ngIf="authService.isAuthenticated();">
    <button type="button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span><a href="/project"><app-titlecase-pipe></app-titlecase-pipe></a></span>

  <!-- Menu -->
  <span class="spacer"></span>

  
    <app-date-pipe></app-date-pipe>
 

  <span class="spacer-light"></span>

  <div *ngIf="!authService.isAuthenticated(); else loggedin">
    <button type="button" routerLink="/auth" mat-icon-button>
      <mat-icon>lock</mat-icon>
    </button>
  </div>


  <ng-template #loggedin>
    <!-- <div *ngIf="authService.isAuthenticated()">
    <h4>Welcome {{userDetails.fullName}}</h4>
    </div> -->

  </ng-template>
</mat-toolbar>
